<h1>Log In Below:</h1>
<<<<<<< HEAD
<form action='/sessions' method='POST'>
  Email: <input id="email" type="text" name="email">
  Password: <input id="password" type="text" name="password">
  <input type="submit" value="Log In">
</form>
=======
<form action='/sessions' method='post'>
  Name: <input id="user" type="text" name="name">
  Email: <input id="email" type="text" name="email">
  Password: <input id="password" type="text" name="password">
  <input type="submit" value="Log In">
</form>
>>>>>>> 11d9b8a851a0f909722faa14ff5c8d7549d13f53
