<h1>Sign Up Below:</h1>
<<<<<<< HEAD
<form action='/registrations' method='POST'>
  Name: <input id="name" type="text" name="name">
  Email: <input id="email" type="text" name="email">
  Password: <input id="password" type="text" name="password">
  <input type="submit" value="Sign Up">
=======
<form action='/registrations' method='post'>
  Name: <input id="user" type="text" name="name">
  Email: <input id="email" type="text" name="email">
  Password: <input id="password" type="text" name="password">
  <input type="submit">
>>>>>>> 11d9b8a851a0f909722faa14ff5c8d7549d13f53
</form>
